.navbar{
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
}

.nav-item{
  line-height: 30px;
  font-weight: 600;
}

#open{
  font-weight: 600;
}

#mint{
  background: -webkit-linear-gradient(260deg, rgba(0,222,249,1) 0%, rgba(63,94,251,1) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

#create{
  background: -webkit-linear-gradient(260deg, rgba(0,222,249,1) 0%, rgba(63,94,251,1) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 10px;
}

.searchbar{
  max-width: 600px!important;
  margin-right: 10px;
  justify-content: center;
  flex-wrap: nowrap;
}

.search-input{
  border-radius: 25px!important;
  font-weight: 500;
  font-size: .95rem;
  background: transparent;
}

.search-input:focus{
  background: transparent;
}

.search-input:active{
  background: transparent;
}

.search-button{
  border: 1px solid #eee;
  border-radius: 25px;
  padding: 8px 8px 7px 12px;
  display: none;
}

#exitSearchBtn{
  display: none;
  margin: 8px;
  padding-right: 10px;
  cursor: pointer;
}

.exit-search{
  border-right: 1px solid #ddd;
  padding: 10px 10px 10px 0;
}

#profile{
  padding-left: 10px;
  border-radius: 40px;
  font-weight: 600;
  background: #e3e6ea;
}

#profilePhotoInNav{
  border-radius: 30px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  object-fit: scale-down; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
}

#rankInNav{
  display: inline-flex;
  position: relative;
  right: 15px;
  top: 11px;
}

.dropdown-menu{
  cursor: pointer;
  border-radius: 15px;
  padding: .5rem;
}

.dropdown-item{
  font-weight: 500;
}

.dropdown-item:hover{
  border-radius: 10px;
}

.dropdown-toggle::after{
  margin-left: -0.745rem;
}

@media (min-width: 992px) {
  .navbar-brand{
    display: flex!important;
  }
  #exitSearchBtn{
    display: none!important;
  }
  .navbar-toggler{
    display: none!important;
  }
  #searchBtn{
    display: none!important;
  }
  .searchbar{
    display: flex!important;
  }
}

 @media (max-width: 992px) {
  #create{
    width: 75px;
  }
  #profile{
    width: 190px;
  }
  .searchbar{
    display: none;
  }
  .search-button{
    display: inline-block;
    position: absolute;
    right: 5rem;
    top: 1rem;
  }
}

#forDarkMode{
  display: block;
}

#forLightMode{
  display: none;
}

.theme{
  border-radius: 40px;
}

.button-styling{
  border-radius: 25px;
  padding: 10px 15px;
  font-weight: 700;
}

hr{
  background: #ddd;
}

.modal-content{
  border-radius: 15px;
}
