::-webkit-scrollbar {
  height: 5px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container-fluid{
  padding-top: 30px;
}

#loader{
  margin: 0 auto;
}

.not-connected-text{
  margin: 100px auto;
}

.nft-wrapper{
  padding: 20px 20px;
  display: flex;
  justify-content: center;
}

.nft-img{
  max-height: 80vh;
  max-width: 100%;
}

.info-wrapper{
  padding-top: 20px;
  display: flex;
}

.info-section{
  padding: 0 10px 50px;
  width: 100%;
}

.top-row-token-page{
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  margin-bottom: 10px;
}

.unlockable-div{
  margin: 15px 0;
  display: none;
}

.unlockable-button{
  border-radius: 25px;
  padding: 5px 10px;
  font-weight: 700;
  background: -webkit-linear-gradient(260deg, rgba(0,222,249,1) 0%, rgba(63,94,251,1) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover{
  text-decoration: none;
}

a.anchor{
  color: black;
}

.like-quick-actions{
  display: flex;
}

.like-button{
  margin-right: 2px;
}

.counter{
  padding-top: 20px;
}

.title{
  font-size: 2rem;
  font-weight: 600;
}

.sale-text{
  font-size: 1.5rem;
}

.on-sale-text{
  background: -webkit-linear-gradient(260deg, rgba(0,222,249,1) 0%, rgba(63,94,251,1) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.not-on-sale-text{
  color: #888;
}

.fa-concierge-bell{
  font-size: 1.2rem;
}

.description{
  font-weight: 500;
  white-space: pre-line;
  overflow-wrap: break-word;
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 10px;
  padding: 0 10px;
  margin: 10px 0;
}

.additional-info-tag{
   cursor: pointer;
 }

#additionalInfoText{
  display: none;
  font-weight: 500;
}

#saveAdditionalInfo{
  display: none;
}

#additionalInfoInput{
  font-weight: 500;
  display: none;
}

.owner-div{
  font-size: .9rem;
}

.sub-text{
  color: #888;
  font-size: .8rem;
}

.dividing-line{
  border-top: 1px solid #aaa;
}

.creator-div{
  padding-top: 20px;
  padding-left: 15px;
  font-size: .9rem;
}

.creator{
  border-radius: 20px;
}

.if-royalty{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.badge{
  padding: 5px 10px;
}

.button-div{
  margin-top: 30px;
}

@media (max-width: 991.98px) {
  .info-section{
    padding-top: 10px;
  }
  .info-wrapper{
    padding-top: 10px;
  }
  .nft-img{
    max-width: 100%;
    padding-top: 0;
  }
  /* .button-div{
    position: fixed;
    bottom: 0;
  } */
}

.not-onsale-subtext{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5px;
}

.center-content{
  display: flex;
  justify-content: center;
}

.price-input-group{
  margin-top: 10px;
  margin-bottom: 30px;
}

.input-styling{
  padding-left: 10px;
  padding-right: 0;
  border: none;
  border-bottom: 1px solid #eee;
  border-radius: 0;
 -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  color: #8a8a8a;
}

.input-styling:focus{
 -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #aaa;
  background: transparent;
  color: #8a8a8a;
}

.price-info{
  font-size: .8rem;
  color: #aaa;
}

.sale-profit{
  background: -webkit-linear-gradient(260deg, rgba(0,222,249,1) 0%, rgba(63,94,251,1) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal-text{
  font-weight: 600;
  font-size: 1.4rem;
}

#editAdditionalInfo{
  display: none;
}

#contentUnlockedTitle{
  background: -webkit-linear-gradient(260deg, rgba(0,222,249,1) 0%, rgba(63,94,251,1) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.unlock-shake-before-buy {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.magnify {
  animation: magnify 0.5s;
  animation-iteration-count: 3;
}

@keyframes magnify {
  0% { transform: scale(1) rotate(0deg); }
  10% { transform: scale(1.1) rotate(-1deg); }
  20% { transform: scale(1.2) rotate(1deg); }
  30% { transform: scale(1.3) rotate(0deg); }
  40% { transform: scale(1.4) rotate(1deg); }
  50% { transform: scale(1.55) rotate(-1deg); }
  60% { transform: scale(1.4) rotate(0deg); }
  70% { transform: scale(1.3) rotate(-1deg); }
  80% { transform: scale(1.2) rotate(1deg); }
  90% { transform: scale(1.1) rotate(0deg); }
  100% { transform: scale(1) rotate(-1deg); }
}
